<form class="overlay" #editForm="ngForm">
    <div class="items">
        <img src="{{selectedUser.picture}}" width="200">
        <h1>{{ selectedUser.firstname}} {{selectedUser.lastname | uppercase}}</h1>
        <h3>{{ selectedUser.email }}</h3>
    </div>

    <div class="edit_form" *ngIf="isEditMode">
        <label [(ngModel)]="picture" name="picture" for="picture">Picture url :</label>
        <input name="picture" type="text" name="picture" id="picture" [(ngModel)]="picture">
    
        <label for="firstname">Firstname :</label>
        <input name="firstname" type="text" [(ngModel)]="firstname">
    
        <label for="lastname">Lastname :</label>
        <input name="lastname" type="text" [(ngModel)]="lastname">
    
        <label for="email">Email :</label>
        <input name="email" type="text" [(ngModel)]="email">
    </div>

    <div class="buttons" *ngIf="isAdmin">
        <button (click)="onDeleteUser()" *ngIf="!isEditMode">Delete</button>
        <button (click)="onEditUser()" *ngIf="!isEditMode">Edit</button>

        <button (click)="onCancel()" *ngIf="isEditMode">Cancel</button>
        <button (click)="onSave()" *ngIf="isEditMode">Save</button>
    </div>
</form>
