section.menu{
    height: calc(100vh - 80px);
    width: 300px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;

    i{
        color: #B391FF;
    }

    *{
        font-weight: bold;
    }
}

// For selected items in menu
.menu-item-true{
    background: #B391FF !important;

    *{
        color: white !important;
    }
}

section.overlay-content{
    justify-self: stretch;
    margin-left: 20px;
}

div.last-item{
    margin-top: auto !important;
}

div.menu-item{
    background: #F2F2F2;
    border-radius: 35px;
    padding: 20px;
    margin-top: 10px;
}

i, span{
    font-size: 16pt;
    margin-left: 10px;
}

div.menu-item:hover{
    background-color: #B391FF;
    cursor: pointer;

    * {
        color: white;
    }
}

.application-overlay{
    margin-left: 20px;
    justify-self: stretch;
    width: 100%;
}

div.top-left-bubble{
    top:-120px;
    left: -60px;
}

div.bottom-left-bubble{
    top: 800px;
    left: 200px;
}

.welcome{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}
